*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

_site
.env
mkmf.log
.DS_Store
.sass-cache
.jekyll-metadata

/vendor/ruby
/vendor/gems/
/vendor/cache/ruby/
/vendor/bundle/
