<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}API Documentation{% endif %}</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/screen.css" rel="stylesheet" media="screen">
  <link href="assets/css/print.css" rel="stylesheet" media="print">
  <script src="//code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  {% if page.search %}
    <script src="assets/javascripts/all.js"></script>
  {% else %}
    <script src="assets/javascripts/all_nosearch.js"></script>
  {% endif %}
</head>
